#saludo {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}
#deportes {
    font-style: italic;
    font-size: 40px;

}
#imagen {

    text-align: center;
}